<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        Library <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="#" ng-click="updateLibrary()"><span class="glyphicon glyphicon-refresh"></span> Update</a></li>
        <li><a href="#" ng-click="cleanLibrary()"><span class="glyphicon glyphicon-trash"></span> Clean</a></li>
        <li><a href="#" ng-click="exportLibrary()"><span class="glyphicon glyphicon-export"></span> Export</a></li>
    </ul>
</div>
<hr>
