<html>
<head>
    <title>XWMM Music Management</title>
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <link rel="shortcut icon" href="../resources/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="../resources/js/extjs/resources/css/ext-all.css" />
    <link rel="stylesheet" type="text/css" href="../resources/js/extjs/resources/css/xtheme-gray.css" />
    <link rel="stylesheet" type="text/css" href="../resources/css/silk.css" />
    <link rel="stylesheet" type="text/css" href="../resources/css/data-view.css" />
    <script type="text/javascript" src="../resources/js/extjs/adapter/ext/ext-base.js"></script>
    <script type="text/javascript" src="../resources/js/extjs/ext-all.js"></script>
    <script type="text/javascript" src="../resources/js/ux/ext-basex.js"></script>
    <script type="text/javascript" src="../resources/js/ux/RowEditor.js"></script>
    <script type="text/javascript" src="../resources/js/ux/DataView-more.js"></script>

    <script type="text/javascript" src="../resources/js/app/common/util.js"></script>

    <script type="text/javascript" src="../resources/js/app/common/ext.ux.xbmc.js"></script>
    <script type="text/javascript" src="../resources/js/app/common/xbmc.js"></script>

    <script type="text/javascript" src="../resources/js/app/common/global.js"></script>
    <script type="text/javascript" src="../resources/js/app/music/images.js"></script>
    <script type="text/javascript" src="../resources/js/app/music/include.js"></script>
    <script type="text/javascript" src="../resources/js/app/music/genre.js"></script>
    <script type="text/javascript" src="../resources/js/app/music/music.js"></script>
    <script type="text/javascript" src="../resources/js/app/music/musiclist.js"></script>
    <script type="text/javascript" src="../resources/js/app/music/yearalbum.js"></script>
</head>
</html>
