<html>
<head>
    <title>XWMM TV Shows</title>

    <meta charset="utf-8">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="../resources/images/favicon.ico">

    <link rel="stylesheet" type="text/css" href="../resources/js/extjs/resources/css/ext-all.css">
    <link rel="stylesheet" type="text/css" href="../resources/js/extjs/resources/css/xtheme-gray.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/silk.css">

    <script type="text/javascript" src="../resources/js/extjs/adapter/ext/ext-base.js"></script>
    <script type="text/javascript" src="../resources/js/extjs/ext-all.js"></script>
    <script type="text/javascript" src="../resources/js/ux/ext-basex.js"></script>
    <script type="text/javascript" src="../resources/js/ux/RowEditor.js"></script>

    <script type="text/javascript" src="../resources/js/app/common/util.js"></script>
    <script type="text/javascript" src="../resources/js/app/common/video.js"></script>

    <script type="text/javascript" src="../resources/js/app/common/global.js"></script>
    <script type="text/javascript" src="../resources/js/app/common/ext.ux.xbmc.js"></script>
    <script type="text/javascript" src="../resources/js/app/common/xbmc.js"></script>
    <script type="text/javascript" src="../resources/js/app/common/genre.js"></script>

    <script type="text/javascript" src="../resources/js/app/tvshows/include.js"></script>
    <script type="text/javascript" src="../resources/js/app/tvshows/tvshow.js"></script>
    <script type="text/javascript" src="../resources/js/app/tvshows/app.js"></script>
</head>
<body>
</body>
</html>
